.bg{
    background-color: #efefef;
    background-repeat: repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body{
    background-color: #efefef;
}
.space { padding-top: 50px; }

.navbar-default .navbar-nav > li > a {
    color: #828282;
    font-family: 'Kanit', sans-serif;
}
.txtb {
    color: #d3d3d3;
    font-family: 'Kanit', sans-serif;
}
.txt{
    font-family: 'Kanit', sans-serif;
}
.logo{
    max-width: 90%;
    margin-top: 25%;
}
.div_shadow {
    box-shadow: 5px 5px 8px #d8d8d8;
    -webkit-box-shadow: 5px 5px 8px #d8d8d8;
    -moz-box-shadow: 5px 5px 8px #d8d8d8;
}
.modal {
    text-align: center;
    padding: 0!important;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}
@media screen and (max-width: 300px) {
    .button-text {
        display: none;
    }
}